@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500;600&family=Oswald:wght@300;400&family=Roboto+Mono&family=Roboto:wght@300;400&family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
}
body{
    overflow-x:hidden;
}
:root {
    --primary-color: #000839;
    --primary-shades: #00020b;
    --para-color: #80849c;
    --helper-color: #1264fa;
    --white: #fff;
    --bg-color: #e6e6eb;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    display: inline-block;
    width: 100%;
}
li{
    list-style: none ;
}
h1,h2,h3,h4{
    color:var(--primary-color);
}
.para{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}

/*header and navbar style-----*/
.header{
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.4rem;
    position: relative;
}
.logo{
    font-size: 2rem;
    font-weight:bold;
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar-list .btn-navbar{
    padding: 1.2rem 2.4rem;
    background-color: var(--white);
    border: 1px solid var(--helper-color);
    color: var(--helper-color);
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
}
.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:active{
    color: var(--helper-color);
}
.btn-navbar:hover,
.btn-navbar:active{
    background-color: var(--helper-color);
    color: var(--white);
}
.mobile-navbar{
    font-size: 4rem;
    color: var(--primary-color);
}
.navbar{
    display: flex;
    align-items: center;
}
.mobile{
    display: none;
}
.mobile .mobile-navbar[name="close"] {
    display: none;
}

 /*-------resuable code---------*/
.section{
    padding: 9.6rem 0;
}
.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.grid{
    display: grid;
    gap: 9.6rem;
}
.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}
.btn{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;
    color: var(--white);
    background-color: var(--helper-color);
    transition: all 0.2s linear;
}

/*------hero section----*/
.section-hero{
    position: relative;
}
.section-hero::before{
    content:"";
    display: inline-block;
    position: absolute;
    bottom: 9.6rem;
    right: 0;
    width: 30%;
    height: 50%;
    background-color: var(--bg-color);
    z-index: -1;
}
.primary-heading{
    font-size: 6rem;
    font-weight: 700;
}
.section-hero .para{
    margin: 4rem 0;
}
.hero-icons{
    margin-top: 4rem;
}

.hero-icons .icon{
    font-size: 6rem;
    position: relative;
}
.hero-icons .icon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background-color: var(--helper-color);
    color: var(--white);
    opacity: 0.7;
    border-radius: 5rem;
}
.hero-icons h2{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}
.hero-icons .hero-react .para{
    line-height: 1.6;
    font-family: 1.4rem;
    margin: 0;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.hero-image img{
    height: 60%;
    box-shadow: 0 0 10rem 0 rgba(0, 0 , 0, 0.1);
}
.imageoverlay{
    position: absolute;
    bottom: 0;
    background-color:var(--primary-color);
    left: -10%;
    padding: 4rem;
}
.imageoverlay .para{
    color: var(--white);
}
.imageoverlay .para:nth-child(2){
    margin: 0;
    font-weight: bold;
}
.imageoverlay .para:last-child{
    margin: 0;
}
/*------media query------*/
@media(max-width:1250px){
    .container{
        padding: 0 6rem;
    }
    html{
        font-size: 56.25%;
    }
}
@media(max-width:980px){
    .container{
        max-width: 96rem;
    }
    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-hero .hero-icons .grid-two-column{
        grid-template-columns: 1fr 1fr;
    }
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        transform: translateX(100%);
        transition: all 0.3s linear;
    
        opacity: 1;
        visibility:visible;
        pointer-events: none;
    }
    .navbar .navbar-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-link {
        color: var(--white);
    }
    .mobile{
        display: block;
        z-index: 99999;
    }
    .active .navbar{
        opacity: 1;
        visibility:visible;
        pointer-events: auto;
        transform: translateX(0);
        z-index: 999;
    }
    .active .mobile .mobile-navbar[name="close"] {
        display: block;
        color: var(--white);
    }
    .section::before {
        height: 30%;
      }
    
      .hero-image img {
        width: 60%;
      }
    
      .hero-image .hero-img-overlay {
        width: 80%;
        left: 0;
      }
    }
    
    @media (max-width: 768px) {
      .container {
        max-width: 720px;
      }
      .hero-image img {
        width: 80%;
      }
      .hero-image .hero-img-overlay {
        width: 90%;
        left: 0;
      }
    
}   
     